
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

body {
    background: #f3f7f7;
    font-family: "SimHei";
    font-size: 12px;
    padding-bottom: 2.1rem;
}


.agreetitle {
    background: #fff;
    height: 3.75rem;
    line-height: 3.75rem;
    font-size: 1.45rem;
    color: #000;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
}

.returnimg {
    position: absolute;
    left: 1.87rem;
    top: 1.194rem;
    width: 0.725rem;
}

.page1 {
    font-size: 1.19rem;
    color: #000;
    width: 92%;
    margin: 0 auto;
    line-height: 1.5;
}

.page1 img {
    display: block;
    width: 23%;
    margin: 4.0rem auto 0;
}

.page1 p {
    margin-top: 2.56rem;
}

.page1 .p1 {
    font-size: 1.28rem;
    margin-top: 0.55rem;
}

.page1 .nextPage {
    display: block;
    width: 92%;
    text-align: center;
    background: #04d29d;
    line-height: 3.4rem;
    color: #fff;
    font-size: 1.28rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: fixed;
    left: 4%;
    bottom: 2.56rem;
}

.page5, .page2, .page3, .page4 {
    display: none;
}

.pages {
    width: 92%;
    margin: 0 auto;
}

.pages p {
    font-size: 1.19rem;
    color: #000;
    line-height: 1.5;
    width: 91%;
    margin: 0 auto;
}

.pages .p1 {
    font-size: 1.28rem;
    width: 100%;
    margin: 1.28rem 0 2.1rem;
}

.pages img {
    display: block;
    width: 91%;
    margin: 2.1rem auto;
}

.pages .btnBox {
    overflow: hidden;
}

.pages .btnBox a {
    display: block;
    float: left;
    width: 44%;
    text-align: center;
    background: #04d29d;
    line-height: 3.4rem;
    color: #fff;
    font-size: 1.28rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.pages .lastPage {
    margin: 0 2% 0 5%;
}

.pages .nextPage {
}

.agreetitle {
    background: #fff;
    height: 3.75rem;
    line-height: 3.75rem;
    font-size: 1.45rem;
    color: #000;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    display: none;
}

.returnimg {
    position: absolute;
    left: 1.87rem;
    top: 1.194rem;
    width: 0.725rem;
}

.testCon {
    padding: 5px 1.28rem;
    border-bottom: 1px solid #dedede;
}

.testCon:last-child {
    border: none;
}

h4.tesTitle {
    color: #000;
    font-size: 1.19rem;
    background: #f3f7f7;
    height: 2.9rem;
    line-height: 2.9rem;
    padding-left: 1.28rem;
    margin-top: 0;
}

.test-form-box {
    overflow: auto;
}

.assignment {
    margin: 30px 0 30px;
    text-align: center;
    border-top: 1px solid #dedede;
    padding-top: 0.64rem;
}

.assignment .btn {
    background: #00B895;
    width: 70.6%;
    height: 3.4rem;
    font-size: 1.28rem;
    border-color: #00B895;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

label {
    font-weight: normal;
}

.jxz-title {
    color: #000;
    font-size: 1.19rem;
    line-height: 1.28rem;
}

.topic-answer {
    display: none;
}

.radio, .checkbox {
    position: relative;
    display: block;
    margin: 1.49rem 0;
}

.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1.19rem;
    color: #555;
    position: relative;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    width: 1.36rem;
    height: 1.36rem;
    position: inherit;
    margin: 0.2rem 0.9rem 0 0rem;
    float: left;
    opacity: 0;
}

.cricle1 {
    width: 1.36rem;
    height: 1.36rem;
    background: #fff;
    margin-top: -0.68rem;
    position: absolute;
    top: 50%;
    left: 0;
    border: 1px solid #04d29d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.cricle2 {
    display: none;
    width: 68%;
    height: 68%;
    background: #04d29d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    top: 16%;
    left: 16%;
}

.container {
    width: 100%;
    padding: 0;
    display: none;
}

/*window*/
.windowBox {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.window {
    background: #fff;
    width: 74%;
    padding: 0 1.28rem 2.0rem;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: fixed;
    left: 13%;
    top: 20%;
}

.window .Wtitle {
    font-size: 1.536rem;
    color: #000;
    border-bottom: 1px solid #dedede;
    line-height: 4.2rem;
}

.Wanswer {
    margin: 2.1rem 0 2.3rem;
    font-size: 1.28rem;
    color: #555555;
    display: inline-block;
}

.Wanswer span {
    float: left;
    margin-right: 0.85rem;
}

.Wanswer img {
    float: left;
    height: 1.96rem;
}

.Wanswer img:nth-of-type(1) {
    margin-right: 1.7rem;
}

.Wbutton {

}

.Wbutton a, .Wbutton span {
    display: inline-block;
    font-size: 1.28rem;
    color: #555555;
    width: 33%;
    height: 2.6rem;
    line-height: 2.6rem;
    border: 1px solid #555555;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 4%;
}

.Wbutton span:nth-of-type(1) {
    color: #04d29d;
    border: 1px solid #04d29d;
}

.Wbutton a.Wokbtn {
    width: 86%;
}

.row {
    margin: 0;
}

.col-md-12 {
    padding: 0;
}